/*.suo
/03高级特性/Publisher/bin
/01基本用法/Consumer/bin
/01基本用法/Publisher/bin
/02主题发布订阅/Consumer/bin
/02主题发布订阅/Publisher/bin
/03高级特性/Consumer/bin
/03高级特性/Publisher/obj
/01基本用法/Consumer/obj
/01基本用法/Publisher/obj
/02主题发布订阅/Consumer/obj
/02主题发布订阅/Publisher/obj
/03高级特性/Consumer/obj
