<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="AppID" value="150107"/>
    <add key="RabbitMQUri" value="amqp://flight:yyabc123@139.198.13.12:4128/Flight" />    
  </appSettings>
</configuration>
